<section class="container-full" id="top">
  <!--<img src="images/lincs_white.png" style="padding: 25px 0px 0px 25px; height:70px;">-->

      <div class="row">

        <div class="col-lg-12 text-center v-center">

        <img src="images/computer.gif">
          </br>
          <h1 class="raleway leader animated fadeInDown" style="font-weight:100;">evaluate software quality online</h1>
<br><br>

          <a href="login"><button class="hero-button raleway"><small>START CODING</small></button></a>

        </div>

      </div> <!-- /row -->


</section> <!-- /container full -->

<section class="call-action" style="height: 35vh">
  <h1 class="text-center text-middle hidden-xs" style="color: #F66733; padding-top: 5vh; vertical-align: middle;">About</h1>
  <h4 class="text-center text-middle visible-xs" style="color: #F66733; padding-top: 5vh; vertical-align: middle;">About</h4>
  <br class="hidden-xs"/><br class="hidden-xs"/>
  <div class="row">
  <div class="col col-xs-8 col-xs-offset-2">
  <p class="">This application is a prototype for the development of an online code quality evaluator. It is part of an ongoing research project at Clemson University, with a focus on assisting early learners in developing a cognitive model of computation that supports future success in the academic curriculum. This effort is motivated through the construction of a generic program representation for automated metric computation.</p>
  </div>
  </div>
</section>
<section class="container-footer">

  <!--<div class="row footer-top text-center" style="height: 55vh">
      <a ng-click="scrollTo('top')"><img src="images/lincs_icon.png" class="icon-footer" style="height: 55vh; padding: 5% 0% 5% 0%;"></a>
  </div>-->

  <div class="footer-top text-center" style="height: 60vh">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12 text-left" style="padding-top: 11vh; padding-bottom: 4vh;">
        <a ng-click="scrollTo('top')"><h1>Code&#8478;</h1></a>
        </div>
      </div>

      <div class="row">
        <div class="col col-xs-4 text-left raleway" style="padding-top: 15px;">
        <a ng-href="/">HOME</a>
        </div>

        <div class="col col-xs-4 text-left raleway" style="padding-top: 15px;">
        <a href="login">START CODING</a>
        </div>

        <div class="col col-xs-4 text-right" style="padding-top: 15px;">
        <p>Follow Us</p>
        </div>
      </div>

      <div class="row raleway">
        <div class="col col-xs-4 text-left" style="padding-top: 15px;">
        <a href="mailto:" target="_top">CONTACT</a>
        </div>

        <div class="col col-xs-4 text-left" style="padding-top: 15px;">
        <a href="">PAPER</a>
        </div>

        <div class="col col-xs-4 text-right hidden-xs" style="padding-top: 15px;">
        <a href="" target="_blank" class="fa fa-github-square fa-2x"></a>&nbsp;
        <a href="" target="_blank" class="fa fa-globe fa-2x"></a>
        </div>

        <div class="col col-xs-4 text-right visible-xs" target="_blank" style="padding-top: 15px;">
        <a href="" target="_blank" class="fa fa-github-square fa-2x"></a>&nbsp;
        <a href="" target="_blank" class="fa fa-globe fa-2x"></a>
        </div>
      </div>


    </div>
  </div>
  <div class="row" style="height: 5vh">
      <p class="text-center" style="padding-top: 1vh;"><small>&#169; Copyright 2016 - All Rights Reserved</small></p>
  </div>

</section>
